QWidget {
    background-color: #272727;
    color: #272727;
}

QLabel {
    background-color: transparent;
    color: #eff1f3;
}

QProgressBar {
    background-color: #272727;
    color: #272727;
    text-align: center;
}

QProgressBar::chunk {
    background-color: white;
}

QTextBrowser {
    background-color: transparent;
    color: white;
}

QComboBox {
    color: white;
}
